@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Thin.otf') format('opentype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Light.otf') format('opentype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Regular.otf') format('opentype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Medium.otf') format('opentype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Bold.otf') format('opentype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-ExtraBold.otf') format('opentype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'MADE TOMMY'; src: url('../fonts/MADETommy-Black.otf') format('opentype'); font-weight: 900; font-style: normal; }

@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-ThinOutline.otf') format('opentype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-LightOutline.otf') format('opentype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-RegularOutline.otf') format('opentype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-MediumOutline.otf') format('opentype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-BoldOutline.otf') format('opentype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-ExtraBoldOutline.otf') format('opentype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'MADE TOMMY Outline'; src: url('../fonts/MADETommy-BlackOutline.otf') format('opentype'); font-weight: 900; font-style: normal; }

@theme {
    --font-sans: 'MADE TOMMY', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MADE TOMMY', serif;
}
